@model SocialNetworkPL.Models.UserDetailViewModel

@{
    ViewBag.Title = "title";
}

<style type="text/css">
    .profile {
        padding-top: 75px;
        text-align: center;
        padding: 75px 0px 15px;
    }

    .img {
        background-image: url("../../Assets/img/background.jpeg");
        background-position: center;
        background-size: cover;
        height: 150px;
    }

    .detail {
        position: relative;
        padding: 0;
        border: 1px lightgray solid;
    }

    .friends { }

    @{ var pathToImg = "../../Assets/img/girl-" + @Model.UserDto.Id + ".jpg";}

    .profile-picture {
        height: 125px;
        width: 125px;
        background-image: url(@pathToImg);
        background-position: center;
        background-size: cover;
        position: absolute;
        transform: translate(-50%, 0);
        left: 50%;
        top: 80px;
        border-radius: 50%;
    }

    .sidebar {
        border: 1px lightgray solid;
        padding: 0;

    }

    .sidebar h4 {
        padding: 15px 10px 5px;
    }

    .sea {
        background-image: url("../../Assets/img/sea.jpg");
        background-position: center;
        background-size: cover;
        height: 250px;
        margin-bottom: 15px;
    }

    .post-container {
        border: 1px lightgray solid;
        margin-bottom: 25px;
    }

    .post {
        display: flex;
    }

    .posts {
        padding: 15px 30px 15px 10px !important;
    }

    .profile-img {
        height: 50px;
        min-width: 50px;
        background-image: url(@pathToImg);
        background-position: center;
        background-size: cover;
        border-radius: 50%;
    }

    .content {
        padding-left: 15px;
        width: 100%;

    }

    .content > div {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
    }

    .message { }

    .images { }
</style>

<div class="row">
    <div class="col-md-3 detail">
        <div class="img"></div>
        <div class="profile">
            <div class="profile-picture"></div>
            <blockquote>
                <h4>@Model.UserDto.NickName</h4>
                <footer>I wish i was a little bit taller, wish i was a baller...</footer>
            </blockquote>
            <div class="friends">
                <span>Friends</span>
                <h6>Number - Todo</h6>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="post-container">
            <ul class="posts">
                @{
                    foreach (var post in Model.PostDtos)
                    {
                        <li class="post">
                            <div class="profile-img"></div>
                            <div class="content">
                                <div>
                                    <h4>@Model.UserDto.NickName</h4>
                                    <small>@post.PostedAt.Date</small>
                                </div>
                                <p class="message">
                                    @post.Text
                                </p>
                                <div class="images"></div>
                            </div>
                        </li>
                    }}
            </ul>
        </div>
    </div>
    <div class="col-md-3 sidebar">
        <h4>Sponsored</h4>
        <div class="sea"></div>
        <blockquote>
            <footer>Existuje mnoho variant s pasážemi Lorem Ipsum, nicméně valná většina trpí neduhy v podobě snahy o vtipný text či použití naprosto náhodných slov, což nevypadá zrovna uvěřitelně.</footer>
        </blockquote>
    </div>
</div>
