@model SocialNetworkPL.Models.UserProfileModel

@{
    ViewBag.Title = "title";
}

<style type="text/css">
    @{
        var pathToImg = "../../Assets/img/girl-" + Model.UserDto.Id + "-400.jpg";
    }

    .profile-picture, .profile-img {
        background-image: url(@pathToImg);
    }
     
</style>

<div class="row UserProfile">
    <div class="col-md-3 detail">
        <div class="img"></div>
        <div class="profile">
            <div class="profile-picture"></div>
            <blockquote>
                <h4>@Model.UserDto.NickName</h4>
                <footer>I wish i was a little bit taller, wish i was a baller...</footer>
            </blockquote>
            <div class="friends">
                <span>Friends</span>
                <h6>@Model.FriendsIds.Count</h6>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="add-post">
            @{
                if (User.Identity.IsAuthenticated && Model.UserDto.NickName.Equals(User.Identity.Name))
                {
                    using (Html.BeginForm("AddPost", "Users", FormMethod.Post, new { @class = "form-inline"}))
                    {
                        @Html.EditorFor(model => model.NewPostText, new { htmlAttributes = new { @class = "form-control", placeholder = "What's on your mind, " + Model.UserDto.NickName + "?"}})
                        @Html.HiddenFor(model => model.UserDto.NickName)
                        @Html.HiddenFor(model => model.UserDto.Id)

                        <button type="submit" class="btn btn-default">Post</button>
                    }
                }
            }
        </div>
        <div class="post-container">
            <ul class="posts">
                @{
                    foreach (var post in Model.PostDtos)
                    {
                        <li class="post">
                            <div class="profile-img"></div>
                            <div class="content">
                                <div>
                                    <h4>@Model.UserDto.NickName</h4>
                                    <small>@post.PostedAt</small>
                                </div>
                                <p class="message">
                                    @post.Text
                                </p>
                                <div class="images"></div>
                            </div>
                        </li>
                    }
                }
            </ul>
        </div>
    </div>
    <div class="col-md-3 sidebar">
        <h4>Sponsored</h4>
        <div class="sea"></div>
        <blockquote>
            <footer>Existuje mnoho variant s pasážemi Lorem Ipsum, nicméně valná většina trpí neduhy v podobě snahy o vtipný text či použití naprosto náhodných slov, což nevypadá zrovna uvěřitelně.</footer>
        </blockquote>
    </div>
</div>