@using Castle.Core.Internal
@model SocialNetworkPL.Models.GroupProfileModel

<div class="GroupProfile row ">
    <div class="col-md-3 detail">
        <div class="img"></div>
        <div class="profile">
            <div class="profile-picture"></div>
            <blockquote>
                <h4>@Model.GroupProfile.Name</h4>
                <footer>Tu raz bude daky popis Mozno</footer>
            </blockquote>
            <a href="@Url.Action("ShowGroupUsers", "GroupProfile", new { groupId = Model.GroupProfile.Id })" class="group-users">
                <span>Users</span>
                <h6>
                    @Model.GroupProfile.GroupUsers.Count(x => x.IsAccepted)
                </h6>

                @Html.HiddenFor(model => model.GroupProfile.Id)
            </a>
        </div>
        <div class="invite-user">
            @if (!Model.GroupProfile.GroupUsers.Where(x => x.NickName == Model.AuthenticatedUser.NickName).IsNullOrEmpty())
            {
                @Html.ActionLink("Invite user", "Index", "InviteUsersToGroup", new { groupId = Model.GroupProfile.Id }, new { @class = "btn btn-primary" })
            }
        </div>
    </div>
    <div class="col-md-6 posts-column">
        @if (User.Identity.IsAuthenticated && Model.GroupProfile.GroupUsers.Select(user => user.NickName).Contains(User.Identity.Name))
        {
            <div class="add-post">
                @using (Html.BeginForm("PostInGroup", "GroupProfile", FormMethod.Post))
                {
                    <div class="search-btn">
                        @Html.EditorFor(model => model.NewPostText, new
                        {
                            htmlAttributes = new
                            {
                                @class = "form-control",
                                placeholder = "What's on your mind, " + User.Identity.Name + "?"
                            }
                        })
                        @Html.HiddenFor(model => model.GroupProfile.Name)
                        @Html.HiddenFor(model => model.GroupProfile.Id)

                        <button type="submit" class="btn btn-primary">Post</button>
                    </div>
                    if (Model.GroupProfile.AllowAnonymousPosts)
                    {
                        <div class="checkbox-under-search-btn ">
                            @Html.EditorFor(x => x.PostStayAnonymous)
                            @Html.LabelFor(x => x.PostStayAnonymous, "post anonymous", new { @class = "label-checkbox" })
                        </div>
                    }
                }
            </div>
        }

        <div class="post-container">
            <ul class="posts">
                @if (!Model.GroupProfile.IsPrivate
                 || !Model.GroupProfile.GroupUsers.Where(groupUser => groupUser.NickName.Equals(User.Identity.Name) && groupUser.IsAccepted).IsNullOrEmpty())
                {
                    foreach (var post in Model.GroupProfile.Posts)
                    {

                        <li class="post">
                            
                            @{var pathToImg = "../../Assets/img/girl-" + post.UserId + "-400.jpg";}

                            <div class="profile-picture" style="background-image: url('@pathToImg')"></div>
                            <div class="content">
                                <div>
                                    @if (post.StayAnonymous)
                                    {
                                        <h4>Anonymous User</h4>
                                    }
                                    else
                                    {
                                        <h4>@post.User.NickName</h4>//Miesto <h4> by sa zisiel link na UserProfile
                                    }
                                    <div class="info-delete">
                                        <small>@post.PostedAt</small>
                                        @if (!Model.GroupProfile.GroupUsers.Where(x => x.IsAdmin && x.NickName == Model.AuthenticatedUser.NickName).IsNullOrEmpty())
                                        {
                                            using (Html.BeginForm("DeletePost", "GroupProfile", FormMethod.Post))
                                            {
                                                @Html.HiddenFor(model => model.GroupProfile.Id)
                                                @Html.HiddenFor(model => model.PostId, new { @Value = post.Id })
                                                <button type="submit" class="btn btn-xs btn-primary" >Delete</button>
                                            }
                                        }
                                    </div>
                                </div>
                                <p class="message">
                                    @post.Text
                                </p>
                                <div class="images"></div>
                                @{
                                    var comments = post.Comments;
                                    if (comments != null)
                                    {
                                        <ul class="comments">
                                            @foreach (var comment in comments)
                                            {
                                                <li class="comment">
                                                    @{ var pathToImgComment = "../../Assets/img/girl-" + comment.UserId + "-400.jpg"; }

                                                    <div class="profile-picture" style="background-image: url('@pathToImgComment')"></div>
                                                    <div class="content">
                                                        <div>
                                                            <h4>@comment.NickName</h4>
                                                            <small>@comment.PostedAt</small>
                                                        </div>
                                                        <p class="message">
                                                            @comment.Text
                                                        </p>
                                                    </div>
                                                </li>
                                            }
                                        </ul>

                                        if (User.Identity.IsAuthenticated && Model.GroupProfile.GroupUsers.Select(user => user.NickName).Contains(User.Identity.Name))
                                        {
                                            <div class="send-comment">
                                                @using (Html.BeginForm("AddComment", "GroupProfile", FormMethod.Post))
                                                {
                                                    <div class="search-btn">
                                                        @Html.EditorFor(model => model.NewCommentText, new
                                                        {
                                                            htmlAttributes = new
                                                            {
                                                                @class = "form-control",
                                                                placeholder = "Write a comment, " + Model.AuthenticatedUser.NickName
                                                            }
                                                        })
                                                        @Html.HiddenFor(model => model.AuthenticatedUser.Id)
                                                        @Html.HiddenFor(model => model.GroupProfile.Id)
                                                        @Html.HiddenFor(model => model.GroupProfile.Name)
                                                        @Html.HiddenFor(model => model.PostId, new { @Value = post.Id })

                                                        <button type="submit" class="btn btn-primary">Post</button>
                                                    </div>
                                                }
                                            </div>
                                        }
                                    }
                                }

                            </div>
                        </li>
                    }
                }
            </ul>
        </div>
    </div>
    <div class="col-md-3 sidebar">
        <div class="clouds"></div>
        <blockquote>
            <footer>
                Existuje mnoho variant s pasážemi Lorem Ipsum, nicméně valná většina trpí neduhy v
                podobě snahy o vtipný text či použití naprosto náhodných slov, což nevypadá zrovna uvěřitelně.
            </footer>
        </blockquote>
    </div>
</div>